[submodule "Bear/extern/spdlog"]
	path = Bear/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bear/extern/glfw"]
	path = Bear/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Bear/extern/imgui"]
	path = Bear/extern/imgui
	url = https://github.com/ocornut/imgui.git
