[submodule "Bear/extern/spdlog"]
	path = Bear/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bear/extern/glfw"]
	path = Bear/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Bear/extern/imgui"]
	path = Bear/extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Bear/extern/vma"]
	path = Bear/extern/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Bear/extern/glm"]
	path = Bear/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "Bear/extern/entt"]
	path = Bear/extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "Bear/extern/tinygltf"]
	path = Bear/extern/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Bear/extern/json"]
	path = Bear/extern/json
	url = https://github.com/nlohmann/json.git
